<body style="background-color:Black;border:2px solid Tomato;color:White;">
<h1>Bienvenido al juego</h1>
La cantidad de Autos es  <%=@cantAutos%>
<form method='post' action='/datos'>
  Ingrese posicion Inicial en X
  <input type='text' name='posIniX'>
  <br>
  <br>
  en Y
  <input type='text' name='posIniY'>
  <br>
  <br>
  Ingrese orientacion Inicial (N,S,E,O)
  <input type='text' name='orientacion'>
  <br>
  <br>
  <input type='submit' value='Guardar'>
</form>

</body>
