<h1>Bienvenido al juego</h1>
<form method='post' action='/datos'>
 Ingrese ancho
 <input type='text' name='ancho'>
<br>
<br>
 Ingrese alto
 <input type='text' name='alto'>
<br>
<br>
 Ingrese posicion Inicial en X:
 <input type='text' name='posIniX'>
 en Y:
 <input type='text' name='posIniY'>
<br>
<br>
 Ingrese orientacion Inicial (N,S,E,O)
 <input type='text' name='orientacion'>
 <br>
 <br>
 <input type='submit' value='Guardar'>

</form>